.about {
  background-color: $primary-accent-bg-color;

  &__bg-img {
    background-image: url(../images/about-us-bg.png);
    background-size: cover;
    background-position: center;
    height: 200px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__content {
    padding-block: 48px;
    row-gap: 24px;

    @include page-grid;

    @include on-tablet {
      padding-block: 120px;
    }
  }

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    letter-spacing: 0.15px;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }
}
